{% extends 'base.html' %}
{% block content %}
<section class="auth-section">
    <div class="auth-wrap">
        <div class="auth-card">
            <div class="auth-header">
                <div class="auth-logo">К</div>
                <h1>Новый пароль</h1>
            </div>
            <form method="POST" class="auth-form">
                <div class="form-group">
                    <label>Новый пароль</label>
                    <input type="password" name="password"
                           placeholder="Не менее 6 символов" required>
                </div>
                <div class="form-group">
                    <label>Повторите пароль</label>
                    <input type="password" name="password2"
                           placeholder="Повторите пароль" required>
                </div>
                <button type="submit" class="btn btn-primary large"
                        style="width:100%; justify-content:center">
                    Сохранить пароль
                </button>
            </form>
        </div>
    </div>
</section>
{% endblock %}